.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebarListItem{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarButton{
    width: 150px;
    padding: 10px;
    font-weight: 500;
    border: none;
}
.sidebarHr{
    margin: 20px 0;
    height: 1px;
    background-color: rgb(235, 224, 224);
}
.sidebarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarFriendImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}